body {
    margin: 0;
    border: 16px solid #244F4E;
    max-width: 100%;
}
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
}
.ham{
    grid-template-columns: auto auto;
}
.mobile-menu a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-family: sans-serif;
}
#menu {
    background-color:#947D4F;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
   margin-right: 37spx;
}
.h1 {
    text-align: center;
    padding-right: 30px;
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}
.h2 {
    text-align: center;
    padding-right: 70px;
    font-size: 23px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}
.os{
    text-align: center;
    padding-right: 70px;
    font-size: 23px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}
.h3 {
    text-align: center;
    padding-right: 60px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}
.h4 {
    text-align: center;
    padding-right: 80px;
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}
.h5 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}
.submit {
    background-color: #947D4F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    padding-left: 100px;
    padding-top: 30px;
}
.submit-2{
    background-color: #947D4F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
.View-More{
    background-color: #947D4F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.green{
    background-color: #244F4E;
    height: 70px;
}
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}
.container {
border: 60px solid #244F4E;
}
.form{
    padding: 40px;
    text-align: center;
}
.nav{
    text-align: right;
}
.nav a {
    padding-left: 10px;
    padding-right: 10px;  
}
.hero-image {
    position: relative;
    padding: 32px;
    background-image: url('../Images/FoodTitle2.jpg');
    background-size: cover;
    height: 450px;
    background-size: cover;
    color: white;
    font-size: 30px;
}
.hero-text {
    text-align: center;
    transform: translateY(-50%);
    position: absolute;
    top: 50%
}
.midimg {
    max-width: 100;
    height: 416.29px;
    text-align: center;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 40px;
}
.img1 {
    padding-left: 45px;
}
.learnmore{
    background-color: #947D4F;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding-left: 70px;
    padding-top: 30px;
}
.material-symbols-outlined {  
    font-variation-settings:  
        'FILL' 1,  
        'wght' 400,  
        'GRAD' 0,  
        'opsz' 24
}
.align-middle {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
}
.button {
    background-color: #947D4F; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: 80px;
    border-radius: 8px;
    align-items: center; 
  }
  .button2{
    background-color: #947D4F; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: 80px;
    border-radius: 8px;
    align-items: center; 
  }
.viewmenu{
    background-color: #947D4F; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: 625px;
    border-radius: 8px;
    align-items: center;
}
.textfield {
    max-width: 100%;
    border-radius: 8px;
    border: 2px solid #e1e1e1;
    font-size: 18px;
    padding-right: 300;
    max-width: 100%;
}
.nav button {
    display: none;
}
.review{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.food-overview-right{
    grid-template-areas: "chef chef-text";
}
.chef {
    grid-area: chef;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}
.lemon2 {
    grid-area: chef;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}
.chef-2{
    padding-left: 180px;
}
.food-2{
    padding-left: 30px;
}
.text-2{
    padding-left: 40px;
}
.food{
    grid-area: food;
    padding-top: 100px;
    padding-right: 20px;
}
.chef-text{
    grid-area: chef-text;
}
.food-review-left{
    grid-template-areas: "chef-text chef";
}
.text-food{
    font-size: 33px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
}
.cooking{
    max-width: 470px;
    max-height: 660px;
    padding-left: 200px;
}
.lemon{
    max-width: 470px;
    max-height: 660px;
}
.max-width{
   max-width: 100%;
}
.award {
   max-width: 200px;
   max-height: 200px;
   padding-left: 350px;
}
.man {
    max-width: 200px;
   max-height: 200px;
   padding-left: 300px;
   padding-top: 20px;
}
.hls{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}


/* Mobile */

@media screen and (max-width: 375px){ 
.nav a {
        display: none;
    }  
.nav button {
        display: inline-block;
        
    } 
.body {
    margin: 0px;
    border: 16px solid #244F4E;
    max-width: 359px;
}
.ham{
    grid-template-columns: auto auto !important;
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
   margin-right: 37spx;
}
.h1 {
    text-align: center;
    padding-right: 15px;
    font-size: 65px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}
.h2 {
    text-align: center;
    padding-right: 20px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}
.os{
    text-align: center;
    padding-right: 40px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}
.h3 {
    text-align: center;
    padding-right: 0%;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}
.h4 {
    text-align: center;
    padding-right: 10px;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}
.h5 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}
.submit {
    background-color: #947D4F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    padding-left: 100px;
    padding-top: 30px;
}
.submit-2{
    background-color: #947D4F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.award {
    max-width: 60px;
    max-height: 60px;
    padding-left: 30px;
 }
 .man {
     max-width: 60px;
    max-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
 }
.green{
    background-color: #244F4E;
    height: 70px;
    width: 343px;
}
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    text-align: center;
}
.container {
border: 35px solid #244F4E;
max-width: 375px;

}
.form{
    padding: 40px;
    text-align: center;
}
.nav{
    text-align: right;
}
.nav a {
    padding-left: 10px;
    padding-right: 10px; 
}
.hero-image {
    position: relative;
    padding: 32px;
    background-image: url('../Images/FoodTitle2.jpg');
    background-size: cover;
    max-height: 400px;
    max-width: 375px;
    background-size: cover;
    color: white;
    font-size: 30px;
}
.hero-text {
    text-align: center;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}
.midimg {
    max-width: 220px;
    max-height: 225px;
    text-align: center;
    margin-left: auto;
    margin-right: 20px;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 15px;
}
.img1 {
    padding-left: 30px;
}
.learnmore{
    background-color: #947D4F;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding-left: 50px;
    padding-top: 30px;

}
.material-symbols-outlined {  
    font-variation-settings:  
        'FILL' 1,  
        'wght' 400,  
        'GRAD' 0,  
        'opsz' 24
}
.align-middle {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
}
.topbutton{
        background-color: #947D4F; 
        border: none;
        color: white;
        padding: 18px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: auto;
        margin-right: 80px;
        padding-top: 12px;
        padding-right: 30px;
        display: none;
}
.button {
    background-color: #947D4F; 
    border: none;
    color: white;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 0px;
    margin-right: auto;
    padding-top: 12px;
    padding-right: 25px;
  }
.button2{
    background-color: #947D4F; 
    border: none;
    color: white;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 0px;
    margin-right: 40px;
    padding-top: 12px;
    padding-right: 25px;
}
.viewmenu{
    background-color: #947D4F; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: 74px;
    border-radius: 8px;
    align-items: center;
}
.buttonhide{
    background-color: #947D4F; 
    border: none;
    color: white;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: 20px;
    padding-top: 12px;
}
.resbutton{
        background-color: #947D4F; 
        border: none;
        color: white;
        padding: 18px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: auto;
        margin-right: 10px;
        padding-top: 12px;
}
.textfield {
    max-width: 540px;
    border-radius: 8px;
    border: 2px solid #e1e1e1;
    font-size: 18px;
    padding-right: 300;
    max-width: 100%;
    padding-bottom: 7px;
}
.nav button {
    display: inline-block;
}
.review{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.food-overview-right{
    grid-template-areas: "chef chef-text";
}
.chef {
    grid-area: chef;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}
.chef-2{
    padding-left: 210px;
}
.food{
    grid-area: food;
    padding-top: 100px;
    padding-right: 20px;
}
.chef-text{
    grid-area: chef-text;
}
.food-review-left{
    grid-template-areas: "chef-text chef";
}
.text-food{
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 20px;
    padding-top: 40px;
}
.text-food2{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
}
.cooking{
    max-width: 188px;
    max-height: 190px;
    padding-left: 40px;
}
.lemon{
    max-width: 188px;
    max-height: 190px;
    padding-right: 40px;
}
.hls{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.award {
    padding-left: 100px;
    width: 16;
    height: 16;
}
.bottom-text2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}
}